body {
background-color: rgb(207, 180, 233);
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
h3 {
    text-align: left;
}
h1 {
    color: rgb(158, 101, 130);
}
h1 {
    font-size: xx-large;
}
h3 {
    text-align: justify;
}
h3 {
    color: rgb(207, 135, 135);
}
h3 {
    text-shadow: rgb(73, 52, 24);
}
h2 {
    color: rgb(194, 138, 223);
}
