body {
    min-height: 2000px;
}
.jumbotron {
    padding:  2rem 1rem;
    background-color: rgb(232, 219, 243);
}
h2 {
    border-top: 2px solid rgb(199, 195, 230);
  }
body {
    background-color: rgb(248, 239, 253);
}